.connect_wallet_page {
  background: url(../../assets/images/connect-wallet-bg.png);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page_content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  display: flex;
}

.cards > :not(:last-child) {
  margin-right: 3rem;
}

.whenConnected {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}

.details {
  background-color: white;
  border-radius: 5px;
  padding: 30px 100px;
  padding-top: 0;
  margin-bottom: 50px;
}

.details_img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.details_img {
  border: 4px solid white;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin-top: -100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
  position: relative;
  display: flex;
}

.mint_btn {
  padding: 26px 70px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  font-size: 20px;
}

.connect_wallet_title {
  font-size: 100px;
}
.connect_wallet_subtitle {
  font-size: 28px;
}

.connected_wallet_title {
  font-size: 30px;
}

@media (max-height: 900px) {
  .connect_wallet_title {
    font-size: 80px;
  }

  .connect_wallet_subtitle {
    font-size: 22px;
  }

  .whenConnected {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 60px;
  }

  .connected_wallet_title {
    font-size: 20px;
  }

  .details_img {
    width: 120px;
    height: 120px;
    margin-top: -65px;
  }

  .whenConnected {
    margin-top: 30px;
  }

  .details {
    padding: 20px 50px;
    padding-top: 0;
    margin-bottom: 30px;
  }

  .mint_btn {
    padding: 16px 40px;
    font-size: 16px;
  }
}

@media (max-width: 1000px) {
  .cards > :not(:last-child) {
    margin-right: 1.5rem;
  }

  .connect_wallet_subtitle {
    font-size: 18px;
  }

  .connect_wallet_title {
    font-size: 50px;
  }

  .whenConnected {
    margin-top: 90px;
  }

  .details_img {
    width: 120px;
    height: 120px;
    margin-top: -70px;
  }

  .details {
    padding: 30px 0px;
    padding-top: 0;
  }

  .connected_wallet_title {
    font-size: 20px;
  }

  .mint_btn {
    font-size: 16px;
  }
}

@media (max-width: 670px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }

  .cards > :not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 4rem;
  }

  .connected_wallet_title {
    font-size: 16px;
  }
}
