.connectCard {
  flex: 1;
}

.connectCard_header {
  padding: 18px 1rem;
  background-color: white;
}

.content {
  padding: 50px 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  padding-bottom: 0;
}

.icon {
  width: 180px;
  margin-bottom: 60px;
}

.btn {
  width: 60%;
  padding: 26px 0;
  cursor: pointer;
  margin-bottom: -10%;
  font-size: 20px;
}

@media (max-height: 900px) {
  .icon {
    width: 100px !important;
    margin-bottom: 20px !important;
  }

  .btn {
    width: 60%;
    padding: 12px 0 !important;
    margin-bottom: -6% !important;
    font-size: 16px !important;
  }

  .content {
    padding: 30px 1rem !important;
    padding-bottom: 0 !important;
  }

  .connectCard_header {
    padding: 8px 1rem !important;
    font-size: 16px !important;
  }
}

@media (max-width: 1000px) {
  .btn {
    width: 80%;
    padding: 20px 0;
    margin-bottom: -14%;
    font-size: 16px !important;
  }

  .icon {
    width: 120px;
    margin-bottom: 40px;
  }

  .content {
    padding: 30px 1rem;
    padding-bottom: 0;
  }
}

@media (max-width: 670px) {
  .connectCard {
    flex: 1;
    max-width: 250px;
    width: 100%;
  }
}
