.page_content {
  max-width: 800px;
  margin: 0 auto;
}

.connect_btn {
  width: 100%;
  padding: 20px 0;
}

.timer_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer_container > :not(:last-child) {
  margin-right: 1.5rem;
}

.timer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.timerBox_wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.timer:is(:last-child) .colon {
  display: none;
}

.timer_box {
  width: 90px;
  height: 90px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-right: 2rem; */
}

.colon {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5vw;
}

.colon > div {
  height: 25px;
}

.maximum_mint {
  border: 2px solid white;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whitelist_mint {
  background-color: white;
  padding: 1rem;
  line-height: 1;
}

.mint_btn {
  width: 100%;
  padding: 1.3rem;
}

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.counter > :not(:last-child) {
  margin-right: 2rem;
}

.counter_box {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: white;
}
