.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialIcons > :not(:last-child) {
  margin-right: 2rem;
}

.copyRights {
  padding: 1.5rem;
  background-color: var(--red);
}

@media (max-width: 760px) {
  .socialIcons > :not(:last-child) {
    margin-right: 1rem;
  }
}
